#java specific
*.class
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

bin/org/tweet/marketing/test/repository/TokenRepositoryTest.class

bin/org/tweet/marketing/test/repository/TokenRepositoryTest.class

bin/org/tweet/marketing/repository/TokenRepository.class

bin/org/tweet/marketing/TweetMarketing.class

bin/org/tweet/marketing/ConsumerInformation.class

bin/org/tweet/marketing/ConsumerInformation.class

bin/consumerAccess.properties

consumerAccess

consumerAccess.Properties

resources/consumerAccess.properties
